extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/events', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Events
      if events.total > 0
        .small Total #{events.total} event(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
      .events.justify-content-center
        if author
          each event in events
            include event_card

        else  
          each event in events.docs
            include event_card


        +paginate(events, '/events', query)

    hr
    a.btn.btn-primary(href='/events/new') Post Your Event
