extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/events', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Events
      if events.total > 0
        .small Total #{events.total} event(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
      .events.justify-content-center
        each event in events.docs
          .card.event.col-sm-11.col-md-5.col-lg-4.d-inline-block.p-0.ml-4
            a(href=`/events/${event.id}`)
              img(src="./covers/HybridTheoryCDcover.jpg" alt="Hybrid Theory")
            .card-text.p-1
              a.title(href=`/events/${event.id}`)= event.title
              include _event

            .card-footer.p-0
              .icon.p-2.d-inline-block.m-0
                a(href="#")
                  i.fa.fa-heart
              .icon.p-2.d-inline-block.m-0
                a(href="#")
                  i.fa.fa-bookmark-o

      +paginate(events, '/events', query)

    hr
    a.btn.btn-primary(href='/events/new') Post Your Event
