extends ../layout
  
block content
  .container
    h1.main-title Participants
    
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Created At
          th
      tbody #{participants.length}
        each participant in participants
          tr
            td
              a(href=`/users/${participant._id}`)= participant.name
            td= participant.email
            td= moment(participant.participatedAt).format('YYYY-MM-DD HH:mm:ss')
