
#Albums_View.album.text-muted
  .container
    .absolute-box
      h1.search-box-title|Find Your Day-off Party
      form.form-inline(action="index.html" method="get")
        .col
          .input-group
            input(type="text" class="form-control input-lg" placeholder="Search by title")
            input(type="text" class="form-control input-lg" placeholder="Where")       
            select
                option(value="All Dates") All Dates
                option(value="Today") Today
                option(value="Tommorow") Tommorow
                option(value="This Week") This Week
                option(value="This Weekend") This Weekend
                option(value="Next Week") Next Week
                option(value="Next Month") Next Month
            .input-group-btn
              button(type="button" class="btn btn-lg btn-secondary")|SEARCH
    .text-center
      h3 Day-Off Party!
    .row
      -var n = 0;
      while n < 12
        .col-lg-4
          .card
            a(href="#")
              img(src="./covers/HybridTheoryCDcover.jpg" alt="Hybrid Theory")
            .card-text
              |Launching : 2000. 10. 24.
              |Hybrid Theory
            .card-footer
              a(href="#")
                span.oi.oi-dollar
              a(href="#")
                span.oi.oi-data-transfer-download
          -n++
          
