extends layout

block content
  .container
    .row.justify-content-center
      .col-lg-5.col-sm-11
        h1.main-title Rest Password
        form(action="/reset_password/confirm" method="post")
          .form-group
            label(for='password') Current Password
            input.form-control(type='password', id='password', name='password', placeholder='Password')
          button.btn.btn-primary(type='submit') Confirm
